useDynLib(cellauto)
exportPattern("^[[:alpha:]]+")
exportPattern(".cellauto_defaults")
importFrom(Rcpp, evalCpp)
S3method(image, cellauto)
S3method(plot, cellauto)
importFrom("graphics", "image", "plot")
importFrom("methods", "new")
importFrom("stats", "rbinom", "sd")

